body {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #fff;
    background-color: #000;
    font: 16px/28px 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
    transition: 0.4s;
}

ul li {
    list-style: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

button {
    display: block;
    border: none;
    background-color: transparent;
    font: inherit;
    cursor: pointer;
    transition: 0.4s;
}


.conteiner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.btn-primary {
    padding: 12px 24px;
    background-color: #EE8313;
    font-weight: 600;
}

.btn-secondary {
    padding: 12px 24px;
    font-weight: 600;
    color: #EE8313;
    border: 1px solid #EE8313;
    line-height: 24px;
}

.btn-primary:hover {
    background-color: #ef5e10;
}

#header-section {
    padding: 40px 0 107px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}
.header-logo__img {
    width: 48px;
    height: 48px;
}
.nav-main {
    margin-left: auto;
}
.nav-main__list {
    display: flex;
    gap: 48px;
    margin-right: 72px;
}
.nav-main__link:hover {
    color: #EE8313
}


/* Banner */

#banner-section {
    position: relative;
    padding-bottom: 60px;
    overflow: hidden;
}

.banner {
    max-width: 475px;
    padding-top: 45px;
}

.banner__header {
    font-size: 52px;
    line-height: 64px;
    letter-spacing: 0.6px;
}

.banner__text {
    margin: 32px 0 48px;
    font-size: 17px;
    color: rgb(255 255 255 / 80%);
}

.banner-links-wrap {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-bottom: 40px;
}

.banner-features__text {
    font-weight: 600;
    line-height: 24px;
}
.banner-features__text:first-child {
    margin-right: 40px;
}

.banner-features__text_strong {
    margin-right: 16px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    vertical-align: sub;
}
.banner-img {
    position: absolute;
    width: 60%;
    top: 0;
    right: 0;
    height: 100%;
}
.banner-img::before {
    position: absolute;
    content: '';
    z-index: 2;
    width: 96%;
    height: 100%;
    top: 0;
    right: 0;
    background: url(images/kisspng-2018-ford-mustang-coupe-2018-ford-mustang-gt-premi-third-generation-ford-mustang-5b1dd219884808.png) no-repeat;
}
.banner-img::after {
    position: absolute;
    content: '';
    z-index: 1;
    width: 75%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgb(52 52 52 / 30%);
}










































/* Rent */
#rent-section {
    padding: 120px 0 120px;
}

.title-section {
    margin-bottom: 40px;
    font-size: 52px;
    line-height: 64px;
    letter-spacing: 0.6px;
    text-align: center;
}

.rent-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}
.rent {
    position: relative;
    height: 524px;
    font-weight: 600;
    background: url(images/Mask.png) 50%/cover no-repeat;
}

.rent:nth-child(2) {
    background-image: url(images/Mask\ \(1\).png);
}
.rent:nth-child(3) {
    background-image: url(images/Mask\ \(2\).png);
}
.rent:nth-child(4) {
    background-image: url(images/Mask\ \(3\).png);
}

.rent__name {
    position: absolute;
    top: 48px;
    left:48px;
    font-size: 40px;
    letter-spacing: 0.6px;
}
.rent__link {
    position: absolute;
    bottom: 48px;
    right: 60px;
    padding-right: 30px;
    font-size: 24px;
    letter-spacing: 0.6px;
    line-height: 32px;
}
.rent__link:hover {
    color: #FFCC2C;
}

.rent__link::after {
    position: absolute; 
    content: '';
    top: 50%;
    right: 0;
    width: 8px;
    height: 16px;
    background: url(images/Vector\ 1.svg) 50%/cover no-repeat;
    transform: translateY(-50%);
}

















/* Services */
#services-section {
    padding-bottom: 120px;
}

.services-section__title {
    margin-bottom: 66px;
    text-align: left;
}
.services-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.services-img {
    margin-bottom: 24px;
}
.services__title {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 32px;
}

.srvices__text {
    color: rgb(255 255 255 / 80%);
}

/* destination */

#destination-section {
    padding-bottom: 162px;
}

.destination-section__title {
    width: 590px;
    margin: 0 auto 40px;
}
.destination-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.destination {
    background-color: #171717;
}

.destination-info {
    padding: 24px;
}
.destination__title {
    font-size: 24px;
    line-height: 32px;
}
.destination__text {
    margin: 10px 0 25px;
    color: rgb(255 255 255 / 80%);
}
.destination__price {
    position: relative;
    display: block;
    font-weight: 600;
    margin-bottom: 17px;
    padding-left: 42px;
}

.destination__price::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    background: url(images/car/Front\ Car.png) no-repeat;
}
.destination__link {
    color: #EE8313;
}

.destination__link:hover {
    color: #EF5E10;
}


/* Location */
#location-section {
    padding-bottom: 102px;
}

/* footer */

#footer-section {
    padding-top: 40px;
    background-color: #1F1905;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 65px;
}
.footer-logo-wrap {
    display: flex;
    align-items: center;
    gap: 17px;
    margin-bottom: 64px;
    font-weight: 600;
}
.footer-about__text {
    max-width: 235px;
    font-size: 18px;
    line-height: 32px;
}

.footer-nav-wrap {
    display: flex;
    justify-content: space-between;
    gap: 45px;
    margin: 40px 100px 0 auto;
}
.footer-nav__header {
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 20px;
}
.footer-nav__item {
    margin-bottom: 28px;
    line-height: 20px;
}
.footer-nav__link {
    color: rgb(255 255 255 / 80%);
}
.footer-nav__link:hover {
    color:#EE8313;
}
.footer-copyright {
    padding: 20px 0;
    background-color: #EE8113
}

.footer-copyright__text {
    text-align: center;
}
